#hero  {
  height: 70vh;
  padding: 2vh 0;
  background: #ecede8;
  background-image: url('../images/hero-bg.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100%;
  position: relative;
  @media screen and (max-width: 1340px)  {
    background-size: cover;
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    background: $white;
    position: absolute;
    bottom: -100px;
    transform-origin: top right;
    transform: skewY(1deg);
    }
  nav {
  text-align: left;
  }
  a {
    margin-right: 20px;
  }
  .hero-text {
    text-align: left;
    margin-top: 20vh;
    h1 {
      font-size: 2.6rem;
    &:before, &:after {
      display: none;
    }
    }
    p {
      font-size: 1.5rem;
      margin: 1.9rem 0;
      font-style: italic;
    }
  }
}
