// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.cta-button {
  display: inline-block;
  background: $blue-gradient;
  font-weight: bold;
  padding: 0.7em 1.4em;
  color: $white;
  text-decoration: none;
  border-radius: 4px;
  @include l-shadow;
  font-size: 1.1rem;
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.9;
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
  }
}


.cta-button-reverse {
  display: inline-block;
  background: $white;
  color: $main-color;
  font-weight: bold;
  text-decoration: none;
  padding: 0.7em 1.4em;
  border-radius: 4px;
  @include l-shadow;
  &:hover {
    background:lighten(#FF6B35,3%);
    color: $white;
    transition: all 0.4s ease;
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
  }
}
